@model Q400Calculator.Models.Inputs

@{
    ViewData["Title"] = "Create";
    List<LandingFlaps10> fd10 = Model.LandingFlaps10;
    List<LandingFlaps15> fd15 = Model.LandingFlaps15;
    List<LandingFlaps35> fd35 = Model.LandingFlaps35;
    List<LandingFlaps5> fd5 = Model.LandingFlaps5;

    List<TakeoffFlaps10Above20> tf10a20 = Model.TakeoffFlaps10Above20;
    List<TakeoffFlaps10Below20Data> tf10b20 = Model.TakeoffFlaps10Below20;
    List<TakeoffFlaps15Above20> tf15a20 = Model.TakeoffFlaps15Above20;
    List<TakeoffFlaps15Below20Data> tf15b20 = Model.TakeoffFlaps15Below20;
    List<TakeoffFlaps5Above20Data> tf5a20 = Model.TakeoffFlaps5Above20;
    List<TakeoffFlaps5Above5Below20Data> tf5b20 = Model.TakeoffFlaps5Below20;

    List<ClimbData> cd = Model.ClimbData;

    Random rand = new Random();
    Model.WindDegrees = rand.Next(1, 360);
    Model.RunwayDirection = rand.Next(1, 360);
}

<h2>Create</h2>
<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Inputs</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Altitude" class="col-md-2 control-label"></label>
            <div><span asp-validation-for="Altitude" class="text-danger"></span></div>
            <div class="col-md-10">
                <input asp-for="Altitude" class="form-control" />
                <span asp-validation-for="Altitude" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div><span asp-validation-for="Icing" class="text-danger"></span></div>
                <div class="checkbox">
                    <input asp-for="Icing" />
                    <label asp-for="Icing"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div><span asp-validation-for="Name" class="text-danger"></span></div>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div><span asp-validation-for="Precipitation" class="text-danger"></span></div>
                <div class="checkbox">
                    <input asp-for="Precipitation" />
                    <label asp-for="Precipitation"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RunwayDirection" class="col-md-2 control-label"></label>
            <div><span asp-validation-for="RunwayDirection" class="text-danger"></span></div>
            <div class="col-md-10">
                <input asp-for="RunwayDirection" class="form-control" />
                <span asp-validation-for="RunwayDirection" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <select asp-for=@Model.FlapsSettings>
                    <option value =5>Flaps 5 Degrees</option>
                    <option value =10>Flaps 10 Degrees</option>
                    <option value =15>Flaps 15 Degrees</option>
                    <option value=35>Flaps 35 Degrees</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Temperature" class="col-md-2 control-label"></label>
            <div><span asp-validation-for="Temperature" class="text-danger"></span></div>
            <div class="col-md-10">
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TripDistance" class="col-md-2 control-label"></label>
            <div><span asp-validation-for="TripDistance" class="text-danger"></span></div>
            <div class="col-md-10">
                <input asp-for="TripDistance" class="form-control" />
                <span asp-validation-for="TripDistance" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Weight" class="col-md-2 control-label"></label>
            <div><span asp-validation-for="Weight" class="text-danger"></span></div> 
            <div class="col-md-10">
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WindDegrees" class="col-md-2 control-label"></label>
            <div><span asp-validation-for="WindDegrees" class="text-danger"></span></div>
            <div class="col-md-10">
                <input asp-for="WindDegrees" class="form-control" />
                <span asp-validation-for="WindDegrees" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WindSpeed" class="col-md-2 control-label"></label>
            <div><span asp-validation-for="WindSpeed" class="text-danger"></span></div>
            <div class="col-md-10">
                <input asp-for="WindSpeed" class="form-control" />
                <span asp-validation-for="WindSpeed" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

